
<button type="button" (click)="getImageFromService()">Get Image</button>

<img [src]="imageToShow"
     alt="Place image title"
     *ngIf="!isImageLoading; else noImageFound">
<ng-template #noImageFound>
     <img src="fallbackImage.png" alt="Fallbackimage">
</ng-template>



<canvas id="imageToShow" width="20" height="20" style="border:1px solid #d3d3d3;">

</canvas>

<script>
  var c = document.getElementById("imageToShow");
  var ctx = c.getContext("2d");
  ctx.beginPath();
  ctx.rect(20, 20, 150, 100);
  ctx.stroke();
</script> 